@import "styles/vars.scss";
@import "styles/flex.scss";
@import "styles/mixin.scss";

.button{
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;

  &:hover{
    opacity: 0.75;
    transition: all 0.3s ease-in-out;
  }

  &.primary{
    background: $blue;
    color: $white;
  }

  &.secondary{
    background:$milk ;
    color: $blue;
  }
}